@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        #nodotlist {
            list-style-type: none;
            list-style: none;
        } 
        
    </style>
</head>
<body>
    <p>
        Philly Phridges aims to act as a living document for community fridges in the Philadelphia region.
        By implementing Google Maps API, Philly Phridges will provide an interactive map displaying each community fridge in Philadelphia,
        along with the pertinent contact information for users to find out more about their nearest fridge.
        Listed below are links to the pages of some of the community fridges.

        <ul id="nodotlist">
            <li><b><a href="https://www.mamateefridge.com">Mama Tee Fridge</a></b></li>
            <li><b><a href="https://southphillyfridge.com/">South Philly Fridge</a></b></li>
            <li><b><a href="https://www.fridgesandfamily.com/">Fridges And Family</a> </b></li>
            <li><b><a href="https://www.signupgenius.com/go/10c0d4ba9a72da0fac25-germantown">Germantown Community Fridge</a></b></li>
            <li><b><a href="https://eastfallscommunityfridge.com/">East Falls Community Fridge</a></b></li>
            <li><b><a href="https://linktr.ee/poweltonfridge">PoweltonFridge</a></b></li>
        </ul>


    </p>
</body>
</html>
