@model List<CSVHelperModel>
@{  
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            width: 100%;
        }

        /* Set the alignment of text for further information */
        #information {
            text-align: center
        }
    </style>
    <script>


        // Initialize and add the map
        function initMap() {
            // The location of City Hall
            const cityHall = { lat: 39.953007046517385, lng: -75.16342464813559 };
            // The map, centered at City Hall
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: cityHall,
            });

            //Add a single marker
            //const peopleFridge = { lat: 39.9518312936344, lng: -75.22651488935034}
            //// The marker, positioned at People's Fridge
            //const marker1 = new google.maps.Marker({
            //    position: peopleFridge,
            //    map: map,
            //});

            //Allows the CSV file to be accessible 
            var locations = @Json.Serialize(Model);

            //Add the info window that pops up when you click the marker
            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            //For loop to populate the markers on the map
            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i].lat, locations[i].lng),
                    map: map
                });

                // A listener that brings up the infowindow when you click the marker
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        var location = locations[i]
                        infowindow.setContent(`${location.sponsor} <br> ${location.address} <br> <a href=${location.website}>${location.website}</a> <br> <a href='https://www.instagram.com/${location.instagram}'>@@${location.instagram}</a>`);
                        infowindow.open(map, marker);
                        copyMapInfo(location);
                    }
                })(marker, i));
            }

        }

       
        /**
         * Function to display information under Map
         * @@param location copying marker information
        */
        function copyMapInfo(location) {
            
            
            document.getElementById('information').innerHTML = `${location.sponsor} <br> ${location.address} <br> <a href=${location.website}>${location.website}</a> <br> <a href='https://www.instagram.com/${location.instagram}'>@@${location.instagram}</a>`
            
        }
    </script>

</head>
<body>
    <h3>Philly Phridges</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa4r5G-dbRoXyoM1jRd8LzIrRm1zY6OUo&callback=initMap&libraries=&v=weekly"
            async></script>

    <!--Form for showing additional information -->
    <div id="information">       
    </div>

</body>
</html>